body{
    max-height: 1000px;
}
.productimage {
    width: 150px;
    margin-right: 20px;
    border: 1px solid darkolivegreen;
}




#leftnav-container{
    width: 200px;
    position: fixed;
    left: 0; 
    border-right: 1px solid darkolivegreen;
}

#productsection{
    height: 1000px;
}