body{
    max-height: 1000px;
}

#logo{
    width: 40%;
    margin-top: -100;
}
.product-image {
    width: 150px;
    margin-right: 30px;
}

#container{
        width: 1080px;
    }

#leftnav-container{
    width: 200px;
    position: fixed;
    left: 0; 
    border-right: 1px solid darkolivegreen;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  flex: 1 16%;
  border: 1px solid darkolivegreen;
}