body{
    max-height: 1000px;
}
.product-image {
    width: 150px;
    margin-right: 20px;
    border: 1px solid darkolivegreen;
}

#container{
        width: 1080px;
    }

#leftnav-container{
    width: 200px;
    position: fixed;
    left: 0; 
    border-right: 1px solid darkolivegreen;
}
